/* Third HTML section: Benefits */

.benefits {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 18px;
  padding: 15px 5%;
  color: var(--yellow);
  background: #06131d;
}

.benefits div {
  display: flex;
  align-items: center;
  gap: 11px;
  font-size: 30px;
}

.benefits .icon {
  flex: 0 0 auto;
  width: 34px;
  height: 34px;
  stroke: var(--yellow);
}

.benefits span {
  color: #fff;
  font-size: 13px;
}

@media (max-width: 1050px) {
  .benefits {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .benefits {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }

  .benefits div {
    font-size: 24px;
  }
}